.main {
    width: 100%;
    height: 99.9vh;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
}

.body-content {
    margin-top: 50px;
    border-top: 4px solid grey;
    width: auto;
    height: calc(100% - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

.header-container {
    width: auto;
    height: 50px;
    align-items: center;
    background-color: darkgray;
    position: fixed;
    overflow: auto;
}

.footer-container {
    display: flex;
    width: auto;
    height: 20px;
    background-color: darkgrey;
    border-top: 4px solid grey;
}